.cart-container{
    min-height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 2rem;
    flex-wrap: wrap;
}
.cart-item{
    
    padding: 1.5rem;
    border-radius: 20px;
}
.item-details h5{
    font-size: 1.2rem;
}
.item-details p{
    font-size: 1rem;
    color: rgb(89, 86, 86);
}
.item-details .red{
    background-color: red;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
}
.item-details img{
    border-radius: 15px;
}
.empty-cart img{
    height: 18rem;
    width: 16rem;
}
.empty-cart h3{
    font-size: 1.5rem;
}