.foot-main{
    padding: 4rem 8rem;
    background: #214252;
}
.top{
    
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20rem;
  
    color: white;
    
}
/* .foot-main, .copy{
    position: relative;
    bottom: 0;
} */
.head{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.mg-top{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.icons a{
    color: #214252;
    font-size: 2rem;
    background-color: white;
    margin: 0.2rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}


.nav-left{
    display: flex;
    flex-direction: column;
    width: 5rem;
}
.nav-right{
    display: flex;
    flex-direction: column;
}
.nav-left a, .nav-right a{
    text-decoration: none;
    color: rgb(183, 183, 183);
    font-size: 0.9rem;
}
.nav-left a:hover, .nav-right a:hover{
    color: white;
}
.company{
    display: flex;
    gap: 2rem;
    line-height: 2rem;
}
.copy{
    
    color: rgb(183, 183, 183);
    font-size: 0.9rem;
    padding-bottom: 1rem;
}
.copy p{
    text-align: center;
}